<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{htmlWebpackPlugin.options.title}}</title>

    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <style>
        body {
            background: #333d48;
            color: #e0e0e0;
            font-family: "Segoe UI", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        h1 {
            color: #d0d7de;
            margin: 0;
        }
        h2 {
            color: #009cde;
            margin: 0.3em 0;
        }
        h3, h4 {
            margin: 0.5em 0;
        }
        a {
            color: #ffcd00;
        }
        .sv-demo-items {
        }
        .sv-demo-items img {
            height: 100px;
        }
    </style>
</head>

<body>
<h1>Voyager 3D Tool Suite</h1>
<p>Standalone test/demo versions.<br>Current version: {{htmlWebpackPlugin.options.version}}</p>
<h2>Voyager Story</h2>
<p>Click on an asset to launch / <a href="https://jira.si.edu/secure/CreateIssueDetails!init.jspa?pid=13702&description=Version%20{{htmlWebpackPlugin.options.version}}&issuetype=1&summary=My%20Issue&labels=VoyagerStory&priority=3&assignee=WiedemeierR" target="_blank">Create <i>Story</i> issue in Jira</a></p>
<div class="sv-demo-items">
    <a href="/voyager-story-dev.html?item=data/tusk/tusk-item.json" target="_blank"><img src="/data/tusk/tusk-image-low.jpg"></a>
    <a href="/voyager-story-dev.html?item=data/ewer/ewer-top-item.json" target="_blank"><img src="/data/ewer/ewer-top-image-low.jpg"></a>
    <a href="/voyager-story-dev.html?item=data/ewer/ewer-bottom-item.json" target="_blank"><img src="/data/ewer/ewer-bottom-image-low.jpg"></a>
    <a href="/voyager-story-dev.html?item=data/chair/chair-item.json" target="_blank"><img src="/data/chair/chair-image-low.jpg"></a>
</div>

<h2>Voyager Explorer</h2>
<p>Click on an asset to launch / <a href="https://jira.si.edu/secure/CreateIssueDetails!init.jspa?pid=13702&description=Version%20{{htmlWebpackPlugin.options.version}}&issuetype=1&summary=My%20Issue&labels=VoyagerExplorer&priority=3&assignee=WiedemeierR" target="_blank">Create <i>Explorer</i> issue in Jira</a></p>
<div class="sv-demo-items">
    <a href="/voyager-explorer-dev.html?item=data/tusk/tusk-item.json" target="_blank"><img src="/data/tusk/tusk-image-low.jpg"></a>
    <a href="/voyager-explorer-dev.html?item=data/ewer/ewer-top-item.json" target="_blank"><img src="/data/ewer/ewer-top-image-low.jpg"></a>
    <a href="/voyager-explorer-dev.html?item=data/ewer/ewer-bottom-item.json" target="_blank"><img src="/data/ewer/ewer-bottom-image-low.jpg"></a>
    <a href="/voyager-explorer-dev.html?item=data/chair/chair-item.json" target="_blank"><img src="/data/chair/chair-image-low.jpg"></a>
</div>
<h2>Voyager Mini</h2>
<p>Click on an asset to launch / <a href="https://jira.si.edu/secure/CreateIssueDetails!init.jspa?pid=13702&description=Version%20{{htmlWebpackPlugin.options.version}}&issuetype=1&summary=My%20Issue&labels=VoyagerMini&priority=3&assignee=WiedemeierR" target="_blank">Create <i>Mini</i> issue in Jira</a></p>
<div class="sv-demo-items">
    <a href="/voyager-mini-dev.html?item=data/tusk/tusk-item.json" target="_blank"><img src="/data/tusk/tusk-image-low.jpg"></a>
    <a href="/voyager-mini-dev.html?item=data/ewer/ewer-top-item.json" target="_blank"><img src="/data/ewer/ewer-top-image-low.jpg"></a>
    <a href="/voyager-mini-dev.html?item=data/ewer/ewer-bottom-item.json" target="_blank"><img src="/data/ewer/ewer-bottom-image-low.jpg"></a>
    <a href="/voyager-mini-dev.html?item=data/chair/chair-item.json" target="_blank"><img src="/data/chair/chair-image-low.jpg"></a>
</div>
</body>
</html>