<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{htmlWebpackPlugin.options.title}}</title>

    {{#unless htmlWebpackPlugin.options.isDevelopment}}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{htmlWebpackPlugin.options.analyticsId}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{htmlWebpackPlugin.options.analyticsId}}');
    </script>
    <!-- End Google Analytics -->
    {{/unless}}

    {{#if htmlWebpackPlugin.options.isOffline}}
        <link rel="shortcut icon" type="image/png" href="favicon.png"/>
        <link href="/fonts/fonts.css" rel="stylesheet">
    {{else}}  
        <link rel="shortcut icon" type="image/png" href="https://cdn.jsdelivr.net/gh/smithsonian/dpo-voyager@latest/assets/favicon.png"/>
        <link href="https://cdn.jsdelivr.net/gh/smithsonian/dpo-voyager@latest/assets/fonts/fonts.css" rel="stylesheet">
    {{/if}}  

    <style>
        body { background: #303030; }
    </style>
</head>
<body>
{{{htmlWebpackPlugin.options.element}}}
</body>
</html>