<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{htmlWebpackPlugin.options.title}}</title>

        <link rel="shortcut icon" type="image/png" href="favicon.png"/>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/fontawesome-solid.min.css">

        {{#if htmlWebpackPlugin.options.isDevelopment}}
            {{#if htmlWebpackPlugin.options.isLocal}}
        <script src="/libs/pep.js"></script>
        <script src="/libs/three.js"></script>
            {{else}}
        <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/99/three.js"></script>
            {{/if}}
        {{else}}
            {{#if htmlWebpackPlugin.options.isLocal}}
        <script src="/libs/pep.min.js"></script>
        <script src="/libs/three.min.js"></script>
            {{else}}
        <script src="https://code.jquery.com/pep/0.4.3/pep.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/99/three.min.js"></script>
            {{/if}}
        {{/if}}

    </head>
    <body>
        {{{htmlWebpackPlugin.options.element}}}
    </body>
</html>